.page .row div{
	padding: 0;
}
.page .interior{
	padding-top: 50px;
	padding-bottom: 50px;
}
.page h1{
	font-weight: bold;
	font-size: 44px;
	margin-bottom: 100px;
}
.page .header-buttons:hover,
.page .header-buttons:active,
.page .header-buttons{
	color: #252525;
	text-decoration: none;
}
.page .header-buttons{
	display: inline-block;
	background: #fbd46d ;
	color: #252525 ;
	border: 0 ;
	font-size: 18px ;
	padding: 5px 30px ;
	border-radius: 38px;
	margin-top: 50px;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
.page .cards{
	background: #f6f6f6;
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 65px;
}
.page .cards img{
	display: block;
	margin: auto;
}
.page p{
	font-size: 24px;
	color: #252525;
	margin-top: 30px; 
}
.page .active p{
	font-weight: bold;
}
.page .active .cards{
	background: #fbd46d;
}
.page h1.first-head{
	margin-bottom: 150px;
}
.faq-element{
	margin-bottom: 30px;
}
.faq-element.open p{
	display: block;
}
.faq-element span.first{
	color: #252525;
	font-family: Quicksand;
	font-size: 24px;
	font-weight: 400;
}
.faq-element span.last{
	width: 36px;
	height: 36px;
	background-color: #e8e8e8;
	font-size: 16px;
	border-radius: 50%;
	color: #000;
	padding-top: 7px;
	font-weight: 300;
	cursor: pointer;
}
.faq-element p{
	color: #777;
	font-size: 22px;
	text-align: initial;
	line-height: initial;
	display: none;
}
hr{
	border-color: #252525;
}