.page .row div{
	padding: 0;
}
.page .interior{
	padding-top: 50px;
	padding-bottom: 50px;
}
.page h1{
	font-weight: bold;
	font-size: 44px;
	margin-bottom: 100px;
}
.page .header-buttons:hover,
.page .header-buttons:active,
.page .header-buttons{
	color: #252525;
	text-decoration: none;
}
.page .header-buttons{
	display: inline-block;
	background: #fbd46d ;
	color: #252525 ;
	border: 0 ;
	font-size: 18px ;
	padding: 5px 30px ;
	border-radius: 38px;
	margin-top: 50px;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
.page .row div.cards{
	background: #f6f6f6;
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 60px;
}
.page .cards img{
	display: block;
	margin: auto;
}
.page p{
	font-size: 24px;
	color: #252525;
	margin-top: 30px; 
}
.page .active p{
	font-weight: bold;
}
.page .row .active .cards{
	background: #fbd46d;
}
.page img{
	width: 100%;
	height: 100%;
}
.page .row div.col-md-6{
	padding-left: 40px;
	padding-right: 40px;
	text-align: initial;
}
.col-md-6 p{
	margin-top: 0;
	margin-bottom: 10px;
}
.col-md-6 p:first-of-type{
	font-weight: bold;
}
.col-md-6 span{
	width: 18%;
	margin-right: 10px;
	border-radius: 40px;
	border: 1px solid #252525;
	padding: 10px 30px;
	text-align: center;
	cursor: pointer;
	font-size: 18px;
	display: inline-block;
	margin-bottom: 10px;
}
.col-md-6 span.active{
	border: 0;
	background: #fbd46d;
}
.page .header-buttons{
	display: block;
	width: 100%;
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.page .header-buttons:first-of-type{
	background: transparent;
	border: 1px solid #252525;
}
.page .header-buttons:last-of-type{
	margin-top: 30px; 
	margin-bottom: 30px; 
}
.col-md-6 p:last-of-type{
	font-size: 20px;
}