.data{
	width: 60%; 
	padding: 20px 10px;
	position: absolute;
    left: 5%;
    top: 40%;
}
.data h1{
	font-size: 70px;
	color: #252525;
	margin-bottom: 40px;
	font-weight: 300;
}
.data button{
	width: 280px;
	height: 66px;
	border-radius: 38px;
	border: 2px solid #252525;
	font-size: 29px;
	outline: 0;
}
/************************ Swipper Css ***********************************/
html,
body {
  	position: relative;
  	height: 100%;
  	width: 100%;
}

body {
  	font-family: Quicksand, sans-serif;
  	font-size: 14px;
  	color: #000;
  	margin: 0;
  	padding: 0;
}
.main-section{
	background-color: #F6F6F6;
}
.second-section{
	background-color: #FFF;
}
.dark-section{
	background-color: #252525;
	padding-top: 150px;
}
.footer{
	padding-top: 50px;
}
.footer h1{
	color: #fff;
	font-family: Quicksand;
	font-size: 55px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 50px;
}
.footer .row{
	margin-bottom: 50px;
}
.footer .row img{
	margin-left: 70px;
	cursor: pointer;
}
.footer .row img:first-child{
	margin-left:0; 
}
.footer .row a{
	padding: 20px 30px;
	color: #FFF;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
}
.footer .row.rights{
	color: #FFF;
	font-size: 24px;
	margin-bottom: 20px;
}
.cart-aside{
	position: fixed;
	top: 0;
    right: -650px;
    width: 650px;
    height: 100%;
    background: #F6F6F6;
    border-radius: 5px;
    z-index: 999999;
    padding: 40px;
    padding-right: 80px;
    transition: all ease-in-out .25s;
}
.cart-aside h1{
	font-weight: bold;
}
.cart-aside h1 span{
	cursor: pointer;
}
.cart-aside .cart-data{
	margin-top: 75px;
}
.cart-aside .cart-data .col-xs-12.col-md-4{
	padding-left: 0;
}
.cart-aside .cart-data .col-xs-12 img{
	display: block;
	width: 100%;
	height: 120px;
	border-radius: 5px;
}
.cart-aside hr{
	margin-top: 30px;
	border-color: #252525;
}
.cart-aside .cart-data p,
.cart-aside .cart-data span{
	color: #252525;
	font-size: 20px;
}
.cart-aside .cart-data .minus,
.cart-aside .cart-data .plus{
	margin-top: 15px;
	color: #000;
	border: 1px solid #252525;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	padding-top: 3px;
	font-size: 16px;
	cursor: pointer;
}
.cart-aside .cart-data .values{
	margin-top: 15px;
	border: 1px solid #252525;
	width: 100px;
	height: 30px;
	border-radius: 20px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	padding-top: 3px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
.cart-aside .order-data h1{
	color: #252525;
	font-weight: 400;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 30px;
}
.cart-aside .order-data textarea{
	display: block;
	min-width: 100%;
	max-width: 100%;
	min-height: 150px;
	border-radius: 15px;
	padding: 20px;
	font-size: 20px;
	background: transparent;
	margin-bottom: 30px;
}
div#overlay{
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	z-index: 999998;
	background: rgba(0,0,0,0.15);
}
.cart-aside .order-data span,
.cart-aside .order-data p{
	font-size: 24px;
	color: #252525;
	margin-bottom: 40px;
	font-weight: 200;
}
.cart-aside .order-data span.pull-right{
	font-weight: bold;
}
.cart-aside .order-data a.header-button{
	display: block;
    border-radius: 38px;
    font-size: 24px;
    font-weight: 300;
    outline: 0;
    padding: 7px 40px;
    color: #403B28;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    background: #EEC946;
	outline: 0;
}
