nav.navbar{
	background: rgba(37, 37, 37,.8) !important;
	border: 0;
	width: 100%;
	border-radius: 0;
	position: fixed;
	z-index: 99;
}
.nav>li{
	font-size: 20px;
	padding: 40px 10px;
}
.navbar-default .navbar-nav>.active>a{
	color: #f6f6f6;
}
.navbar .navbar-nav>li>a{
	color: #f6f6f6;
}
.navbar .navbar-nav a:hover:not(.my-btn),
.navbar .navbar-nav>.active>a:hover:not(.my-btn),
.navbar .navbar-nav>.active>a:not(.my-btn),
.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover{
	background: transparent;
	color: #f6f6f6;
}
.navbar-nav>li>.dropdown-menu{
	background: #f6f6f6;
    font-size: 16px;
    padding: 0;
}
.navbar-nav>li>.dropdown-menu>li>a{
	color: #252525;
}
.navbar-nav>li>.dropdown-menu>li{
	font-size: 16px;
	padding: 10px;
	transition: all ease-in-out .25s;
}
.navbar-nav>li>.dropdown-menu>li:hover{
	background-color: #252525;
}
.navbar-nav>li>.dropdown-menu>li:hover a{
	color: #f6f6f6;
}
.my-btn{
	width: 190px;
	height: 50px;
	border-radius: 25px;
	background-color: #eec946 !important;
	color: #252525 !important;
	text-align: center;
	font-size: 16px;
}
.my-btn:hover,
.my-btn:active,
.my-btn.active{	
	background-color: #eec946 !important;
}
.img-anc{
	padding-top: 5px !important;
    padding-left: 30px !important;
}
.img-anc img{
	width: 40px;
}
.navbar-image{
	transition: all ease-in-out .25s;
	height: 100px;
}
.has-cart{
	position: relative;
}
.has-cart .cart-dot{
	position: absolute;
    width: 15px;
    height: 15px;
    background: #eec946;
    border-radius: 50%;
    right: 9px;
    border: 1px solid #252525;
}
.navbar-brand img{
	height: 111px;
}
@media(max-width: 767px){
	.navbar-default .navbar-nav{
		background: #252525;
	}
	.navbar-nav{
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-toggle{
		margin-right: 0;
	}
	.navbar .container{
		padding: 0;
	}
	.navbar-header{
		background: #252525;
		padding: 0 15px;
		margin: 0 !important;
	}
	.navbar .my-btn{
		margin-left: 15px;
		margin-right: 15px;
	}
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover{
		border-color: #F6F6F6;
		background-color: #252525;
	}
	.sr-only{
		color: #F6F6F6
	}
	.navbar-brand{
		display: none;
	}
	.navbar-default .navbar-collapse{
		width: 100%;
		background: #FFF;
    	border-radius: 5px;
    	padding: 0;
    	margin: 0;
	}
	.nav>li{
		padding: 10px 20px;
		border-bottom: 1px solid #ddd;
	}
	.navbar-default .navbar-nav>li>a{
		padding-top: 15px;
		transition: all ease-in-out .25s;
	}
	.navbar-default .navbar-nav>li>a:hover{
		color: #f6f6f6;
		background-color: #252525
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: #f6f6f6;
	}
	.has-cart .cart-dot{
    	left: 50px;
	}
}
@media (min-width: 1200px){
	.container {
	    width: 90%;
	    margin-left: 5%;
	}
}