nav.navbar{
	background: #252525;
	border: 0;
	width: 100%;
	border-radius: 0;
}
.nav>li{
	font-size: 20px;
	padding: 40px 10px;
}
.navbar-default .navbar-nav>.active>a{
	color: #f6f6f6;
}
.navbar .navbar-nav>li>a{
	color: #f6f6f6;
}
.navbar .navbar-nav a:hover:not(.my-btn),
.navbar .navbar-nav>.active>a:hover:not(.my-btn),
.navbar .navbar-nav>.active>a:not(.my-btn),
.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover{
	background: transparent;
	color: #f6f6f6;
}
.navbar-nav>li>.dropdown-menu{
	background: #f6f6f6;
    font-size: 16px;
    padding: 0;
}
.navbar-nav>li>.dropdown-menu>li>a{
	color: #252525;
}
.navbar-nav>li>.dropdown-menu>li{
	font-size: 16px;
	padding: 10px;
	transition: all ease-in-out .25s;
}
.navbar-nav>li>.dropdown-menu>li:hover{
	background-color: #252525;
}
.navbar-nav>li>.dropdown-menu>li:hover a{
	color: #f6f6f6;
}
.my-btn{
	width: 190px;
	height: 50px;
	border-radius: 25px;
	background-color: #eec946 !important;
	color: #252525 !important;
	text-align: center;
	font-size: 16px;
}
.my-btn:hover,
.my-btn:active,
.my-btn.active{	
	background-color: #eec946 !important;
}
.img-anc{
	padding-top: 5px !important;
    padding-left: 30px !important;
}
.img-anc img{
	width: 40px;
}
.navbar-image{
	transition: all ease-in-out .25s;
	height: 100px;
}
.has-cart{
	position: relative;
}
.has-cart .cart-dot{
	position: absolute;
    width: 15px;
    height: 15px;
    background: #eec946;
    border-radius: 50%;
    right: 9px;
    border: 1px solid #252525;
}
@media (min-width: 1200px){
	.container {
	    width: 90%;
	    margin-left: 5%;
	}
}