.page .row div{
	padding: 0;
}
.page .interior{
	padding-top: 50px;
	padding-bottom: 50px;
}
.page h1{
	font-weight: bold;
	font-size: 44px;
	margin-bottom: 100px;
}
.page .header-buttons:hover,
.page .header-buttons:active,
.page .header-buttons{
	color: #252525;
	text-decoration: none;
}
.page .header-buttons{
	display: inline-block;
	background: #fbd46d ;
	color: #252525 ;
	border: 0 ;
	font-size: 18px ;
	padding: 5px 30px ;
	border-radius: 38px;
	margin-top: 50px;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
.page .row div.cards{
	background: #f6f6f6;
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 60px;
}
.page .cards img{
	display: block;
	margin: auto;
}
.page p{
	font-size: 24px;
	color: #252525;
	margin-top: 30px; 
}
.page .active p{
	font-weight: bold;
}
.page .row .active .cards{
	background: #fbd46d;
}
.page h1.first-head{
	margin-bottom: 150px;
}
.page .row div.myCard{
	display: inline-block;
	float: left;
	padding: 30px;
	width: 18%;
	margin-right: 2%;
	border-radius: 10px;
	background: #f6f6f6;
	min-height: 303px;
}
.myCard h1{
	font-weight: 300;
	margin-bottom: 30px;
}
.myCard p{
	font-weight: 300;
	margin-top: 10px;
	color: #252525;
	font-size: 20px;
}
div.row{
	margin-bottom: 100px;
}
.page .header-buttons{
	color: #FFF;
	margin-top: 10px;
}
.page .row .myCard.active{
	background: #fbd46d;
	position: relative;
	overflow: hidden;
}
.page .myCard.active .header-buttons{
	border: 1px solid #252525;
	color: #252525;
}
.myCard.active p{
	font-weight: 300;
}
.myCard.active span{
	color: #FFF;
	position: absolute;
	background: #252525;
	display: block;
	right: -40px;
	padding: 5px 40px;
	transform: rotateZ(45deg);
}