.page .row div{
	padding: 0;
}
.page .interior{
	padding-top: 50px;
	padding-bottom: 50px;
}
.page h1{
	font-weight: bold;
	font-size: 44px;
	margin-bottom: 100px;
}
.page .header-buttons:hover,
.page .header-buttons:active,
.page .header-buttons{
	color: #252525;
	text-decoration: none;
}
.page .header-buttons{
	display: inline-block;
	background: #fbd46d ;
	color: #252525 ;
	border: 0 ;
	font-size: 18px ;
	padding: 5px 30px ;
	border-radius: 38px;
	margin-top: 50px;
	text-decoration: none;
	cursor: pointer;
	outline: 0;
}
.page .row div.cards{
	background: #f6f6f6;
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 60px;
}
.page .cards img{
	display: block;
	margin: auto;
}
.page p{
	font-size: 24px;
	color: #252525;
	margin-top: 30px; 
}
.page .active p{
	font-weight: bold;
}
.page .row .active .cards{
	background: #fbd46d;
}
.select2-container{
	display: block;
	padding: 5px 20px;
	border-radius: 40px;
	border: 1px solid #252525;
	background: transparent;
	color: #252525;
	outline: 0;
	margin:auto;
	margin-bottom: 100px;
	outline: 0;
	width: 500px !important;
	max-width: 500px !important;
}
.select2-container--default .select2-selection--single{
	border: 0;
	text-align: initial;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 7px;
	right: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-width: 7px 7px 0 7px;
}
.page h1{
	margin-bottom: 30px;
}
.page p{
	font-weight: 300;
	font-size: 26px;
	margin-bottom: 70px;
}
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default .select2-selection--single .select2-selection__rendered{
	outline: 0;
}
select option{
	outline: 0;
}